.login-page {
  position: relative;

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .form-wrapper {
    background: $white;
    border-radius: pxToRem(5);
    display: block;
    height: 100vh;

    &__box {
      padding-left: 14.063vw;
      padding-top: 13.229vw;
      padding-right: 15.052vw;
      width: 50%;
      display: inline-block;

      h4 {
        font-size: 1.875vw;
        line-height: 36px;
        color: $color-chart;
        font-weight: $semiBold;
        margin-bottom: 30px;
      }

      p {
        font-size: 0.833vw;
        line-height: 19px;
        color: $color-text;
        font-weight: $semiBold;
        margin-bottom: 13px !important;
      }
    }

    .login-wrapper-input {
      width: 100%;
      margin-bottom: 16px;
      position: relative;

      .input__wrapper {
        input {
          font-size: pxToRem(14);
          height: 54px;

          padding-left: pxToRem(35);
          &::placeholder {
            font-size: pxToRem(14);
          }
        }
      }

      img {
        width: 21px !important;
        height: 21px !important;
        top: 15px !important;
      }
    }

    .remember-me {
      label {
        font-size: 16px;
        color: $color-text;
        font-weight: $regular;
      }
    }

    .button-login {
      display: block;
      margin-top: 3.646vw;
      width: 100%;
      height: 45px;
      border-radius: 12px;
      background-color: #7086ff;
    }
  }
}
