.sensor-control-page {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(183, 226, 228);

    .disabledbutton {
        pointer-events: none;
       //opacity: 1;
    }

    .control {
        display: block
    }
    .row-device {
        margin: 5px;
        display: flex;
        height: 100px;
    }

    .col-type {
       margin-right: 10px;
       margin-left: 10px;
       align-self: center;
    }

    .control-colum1 {
        width: 100px;
        display: flex;
    }

    .control-colum2 {
        width: 30px;
        display: flex;
    }

    .control-colum3 {
        width: 900px;
        display: flex;
    }

    .multi-range-slider-container {
        max-width: 600px;
        margin: auto;
    }
    
    .button-changeconfig {
        background-color: #04AA6D !important;
    }

    .btn--primary {
        width: 200px;
    }
    .control-devices {
        display: block;
        margin: auto;
        width: fit-content;
        height: fit-content;
        //background-color: aqua;
        .block-device {
            margin:5px 20px 5px 20px;
            display: inline-block;
            width: fit-content;
            .image-device {
                img {
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    padding: 5px;
                    background-color: rgb(251, 255, 255);
                  }
                width: fit-content;
                margin-bottom: 10px;
            }
            .switch-device {
                align-items: center;
                margin: auto;
                width: fit-content;
                
            }
            .name-device {
                text-align:  center;
                margin: 10px;
            }
        }
    }
}