.main-control-page {
    position: relative;
    display: block;
    width: 1200px;


    .center {
        text-align: center;
        margin: auto;
        width: fit-content;
        padding: 10px;
      }

    .control-title {
       font-size: 2.5em; 
    }


}