.main-layout {
  max-width: 100vw;
  position: relative;

  .side-menu {
    z-index: 99;
    position: fixed;
    width: pxToRem(200);
    background-color: $color-menu;
    top: pxToRem(65);
    left: pxToRem(-200);
    transition: left 0.5s ease-in-out;

    @media screen and (max-width: 1199.6px) {
      width: 320px;
      left: -100%;
    }

    @media screen and (max-width: 680px) {
      width: 100%;
      left: -100%;
      top: 97px;
    }
  }

  .right-content {
    width: 100%;
    padding-left: 0;
    transition: padding 0.5s ease-in-out;
  }

  &--active-menu {
    .right-content {
      padding-left: pxToRem(200);
      @media screen and (max-width: 1199.6px) {
        padding-left: 320px;
      }
      @media screen and (max-width: 680px) {
        display: none;
        padding-left: 0;
      }
    }

    .side-menu {
      left: 0;

      &__footer {
        left: -0px;
      }
    }
  }

  &.main-layout--active-menu {
    @media screen and (max-width: 1199.6px) {
      .main-content:has(.container-form-pdf) {
        width: 1199.6px;
      }
    }
  }

  .main-content {
    padding: 15px 46px 56px 20px;
    transition: all 0.5s ease-in-out;
    margin-top: pxToRem(65);
    background-color: $bg-main-content;
    min-height: calc(100vh - 65px);

    @media screen and (max-width: 1199.6px) {
      &:has(.container-form-pdf) {
        width: 100vw;
        min-width: 900px;
      }
    }

    @media screen and (max-width: 1199.6px) {
      padding: 20px;
      // width: max-content;
    }
    @media screen and (max-width: 680px) {
      margin-top: pxToRem(100);
    }

    .card-header {
      font-size: pxToRem(24);
      font-weight: $bold;
    }
  }
}
